services:
  ollama:
    image: 'ollama/ollama:latest'
    ports:
      - '11434:11434'
  pgvector:
    image: 'pgvector/pgvector:pg16'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=asdf'
      - 'POSTGRES_USER=asdf'
    labels:
      - "org.springframework.boot.service-connection=postgres"
    ports:
      - '5432:5432'
